[submodule "StreamDeckMonSwitchMKI/frontend/sdpi_components/sdpi-components"]
	path = StreamDeckMonSwitchMKI/frontend/sdpi_components/sdpi-components
	url = https://github.com/JamesMighty/sdpi-components.git
